# 编译生成的二进制文件
.exe
.dll
.lib
.obj
.pdb
.exp
.ilk

# Visual Studio 相关
.vs
.suo
.user
.userosscache
.sln.docstates
.VC.db
.VC.opendb

# 编译输出目录
bin
build
Debug
Release
x64
x86

# 日志和临时文件
.log
.tmp

# 依赖库

.ttc

# 其它常见忽略
.cache
.db
.ipch
.aps
.ncb
.opendb

# CMake 生成文件
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile